<mat-card>
  <mat-card-header>
    <mat-card-title>{{product.name}} Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content" fxLayoutGap="20px">

      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title>Category</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayout="row">
      <button mat-raised-button (click)="headBack()" color="primary">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
    </div>
  </mat-card-content>
</mat-card>

