<div class="container">
  <div fxLayout="row">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <span>Third Line</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxLayout="row">
    <mat-drawer-container class="example-container" fxFlex="100%">
      <mat-drawer #drawer class="example-sidenav" mode="over" fxFlex="30%">
        <mat-nav-list>
          <mat-list-item>
            <a matLine href="#">Some Link</a>
            <button mat-icon-button >
              <mat-icon>info</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>

      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>
    </mat-drawer-container>
  </div>

</div>


